@model RentACar.Application.DTOs.CustomerDTO
<div class="modal fade" id="deleteCustomerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content dark-modal">
            <div class="modal-header">
                <h5 class="modal-title">Delete Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="deleteCustomerForm">
                <div class="modal-body">
                    <input type="hidden" name="customerId" value="@Model.UserId" />
                    <p>Are you sure you want to delete customer <strong>@Model.Name</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('deleteCustomerForm').addEventListener('submit', async function (e) {
        e.preventDefault();
        const id = this.querySelector('[name="customerId"]').value;
        await fetch('/api/Customer/' + id, { method: 'DELETE' });
        const modalEl = this.closest('.modal');
        bootstrap.Modal.getInstance(modalEl).hide();
        if (window.loadCustomers) loadCustomers();
    });
</script>
