@{
    ViewData["Title"] = "Control Panel";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/control-panel.css" />


<div class="container-fluid d-flex justify-content-center align-items-center mt-2 " style="min-height: 100vh;">
    <div class="panel-container p-5">
        <h2 class="panel-title">Control Panel</h2>
        <div class="panel-actions">
            <a asp-controller="Car" asp-action="Index" class="panel-action">
                <i class="fas fa-car"></i>
                <div>Manage Cars</div>
            </a>
            <a asp-controller="Category" asp-action="Index" class="panel-action">
                <i class="fas fa-tags"></i>
                <div>Manage Categories</div>
            </a>
            <a asp-controller="Blacklist" asp-action="Index" class="panel-action">
                <i class="fas fa-ban"></i>
                <div>Blacklists</div>
            </a>
            <a asp-controller="Customer" asp-action="Index" class="panel-action">
                <i class="fas fa-users"></i>
                <div>Customers</div>
            </a>
            <a asp-controller="Employee" asp-action="Index" class="panel-action">
                <i class="fas fa-user-tie"></i>
                <div>Employees</div>
            </a>
            @if (User.IsInRole("Admin"))
            {
                <a href="/ControlPanel/ChangeRole" class="panel-action">
                    <i class="fas fa-user-shield"></i>
                    <div>Change Role</div>
                </a>
            }
            <a asp-controller="PromoCode" asp-action="Index" class="panel-action">
                <i class="fas fa-gift"></i>
                <div>Promo Codes</div>
            </a>
            <a asp-controller="CreditCard" asp-action="Index" class="panel-action">
                <i class="fas fa-credit-card"></i>
                <div>Credit Cards</div>
            </a>

            <a asp-controller="PaymentMethod" asp-action="Index" class="panel-action">
                <i class="fas fa-money-check-alt"></i>
                <div>Payment Methods</div>
            </a>

            <a asp-controller="Booking" asp-action="Index" class="panel-action">
                <i class="fas fa-calendar-check"></i>
                <div>Bookings</div>
            </a>

        </div>
    </div>
</div>
